[submodule "Backend/Libraries/SQLiteCpp"]
	path = Backend/Libraries/SQLiteCpp
	url = https://github.com/srombauts/SQLiteCpp.git
[submodule "Backend/Libraries/json"]
	path = Backend/Libraries/json
	url = https://github.com/nlohmann/json.git
[submodule "Backend/Libraries/cpp-httplib"]
	path = Backend/Libraries/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "Backend/Libraries/mbedtls"]
	path = Backend/Libraries/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "Backend/Libraries/curl"]
	path = Backend/Libraries/curl
	url = https://github.com/curl/curl.git
