[submodule "Libraries/SQLiteCpp"]
	path = Libraries/SQLiteCpp
	url = https://github.com/srombauts/SQLiteCpp.git
[submodule "Libraries/json"]
	path = Libraries/json
	url = https://github.com/nlohmann/json.git
[submodule "Libraries/cpp-httplib"]
	path = Libraries/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "Libraries/curl"]
	path = Libraries/curl
	url = https://github.com/curl/curl.git
[submodule "Libraries/mbedtls"]
	path = Libraries/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "Libraries/wolfssl"]
	path = Libraries/wolfssl
	url = https://github.com/wolfssl/wolfssl.git
